body {
    /* font-family: 'Montserrat', sans-serif; */
    Background-color: #050404;
}



html,
body {
    height: 100%;
}





h1 {
    display: inline-block;
    font-family: 'Helvetica75', 'monterastat', 'sans-serif';
    margin: 70px 0 0 30px;
    color: #fff;
    font-weight: 900;
    line-height: 1 !important;
    font-size: 5.5rem !important;
    color: #fff;
}



.loader {
    position: absolute;
    top: 34%;
    transform: translateY(100%);
    width: 100%;
    height: 10px;
    float: left;
    margin-left: 14mm;
}

.loader span {
    width: 30px;
    height: 30px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    opacity: 1;
}
.tri-loader {
    position: absolute;
    top: 34%;
    transform: translateY(100%);
    width: 100%;
    height: 10px;
    float: left;
    margin-left: 24.3mm;
}

.tri-loader span {
    width: 30px;
    height: 30px;
    /* background: #fff; */
    display: inline-block;
    /* border-radius: 50%; */
    opacity: 1;
    animation-delay: 0.5s;
    color: #ffe837; 
}



.parallel-loader {
    position: absolute;
    top: 29.1%;
    transform: translateY(100%);
    float: left;
    margin-left: 35mm;
    
}
.parallel-loader span {
    animation-delay: 0.5s;
    /* color: red; */
   
    width: 0;
    height: 0;
    border-left: 20px solid #050404;
    border-right: 20px solid #050404;
    border-bottom: 32px solid transparent;



  
}




.loader span:nth-child(1) {
    animation-delay: .7s;
    background: #1b57fc;

}



.loader span:nth-child(4) {
    animation-delay: 0.1s;
    background: #50912B;

}

.white-space {
    padding-bottom: 75px;
}



@keyframes fade {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        /* color: yellow; */
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes color  {
    0% {
        transition: background-color 0.2s ease;
        background-color: #1b57fc;
    }

    25% {
        transition: background-color 0.4s ease;
        background-color: #ff0000;
    }

    50% {
        transition: background-color 0.6s ease;
        background-color: #fff;
    }

    75% {
        transition: background-color 0.8s ease;
        background-color: #50912B;
    }

    100% {
        transition: background-color 1s ease;

        background-color: #1b57fc;
    }

}

@keyframes color-triangle {
    0% {
        transition: background-color 0.2s ease;
        background-color: #ffe837;
    }

    25% {
        transition: background-color 0.4s ease;
        background-color: #ff0000;
    }

    50% {
        transition: background-color 0.6s ease;
        background-color: #50912B;
    }


    75% {
        transition: background-color 0.8s ease;
        background-color: #1b57fc;
    }

    100% {
        transition: background-color 1s ease;
        background-color: #ffe837;
    }

}

@keyframes color-parallel {
    0% {
        transition: background-color 0.2s ease;
        background-color: #ff0000;
    }

    25% {
        transition: background-color 0.4s ease;
        background-color: #ffe837;
    }

    50% {
        transition: background-color 0.6s ease;
        background-color: #50912B;
    }

    75% {
        transition: background-color 0.8s ease;
        background-color: #1b57fc;
    }

    100% {
        transition: background-color 1s ease;
        background-color: #ff0000;
    }




}

@keyframes color-green {
    0% {
        transition: background-color 0.2s ease;
        background-color: #50912B;
    }

    25% {
        transition: background-color 0.4s ease;
        background-color: #1b57fc;
    }

    50% {
        transition: background-color 0.6s ease;
        background-color: #ffe837;
    }

    50% {
        transition: background-color 0.8s ease;
        background-color: #ff0000;
    }

    100% {
        transition: background-color 0.2s ease;
        background-color: #50912B;
    }

}



.blue {
    -webkit-animation: fade 4s 1s infinite linear alternate,
        rotate 4s 1s infinite linear alternate;
    -moz-animation: fade 4s 1s infinite linear alternate;
    -ms-animation: fade 4s 1s infinite linear alternate;
    -o-animation: fade 4s 1s infinite linear alternate;
    animation: color 4s 1s infinite linear alternate;

}


.triangle {
   
    -webkit-animation: fade 4s 1s infinite linear alternate,
        rotate 4s 1s infinite linear alternate;
    -moz-animation: fade 4s 1s infinite linear alternate;
    -ms-animation: fade 4s 1s infinite linear alternate;
    -o-animation: fade 4s 1s infinite linear alternate;
    animation: color-triangle 4s 1s infinite linear alternate;
}

.pacman {

    -webkit-animation: fade 4s 1s infinite linear alternate,
    rotate 4s 1s infinite linear alternate;
-moz-animation: fade 4s 1s infinite linear alternate;
-ms-animation: fade 4s 1s infinite linear alternate;
-o-animation: fade 4s 1s infinite linear alternate;
animation: color-parallel 4s 1s infinite linear alternate;

}



.red {
    -webkit-animation: fade 4s 1s infinite linear alternate,
        rotate 4s 1s infinite linear alternate;
    -moz-animation: fade 4s 1s infinite linear alternate;
    -ms-animation: fade 4s 1s infinite linear alternate;
    -o-animation: fade 4s 1s infinite linear alternate;
    animation: color-red 4s 1s infinite linear alternate;
}

.green {
    -webkit-animation: fade 4s 1s infinite linear alternate,
        rotate 4s 1s infinite linear alternate;
    -moz-animation: fade 4s 1s infinite linear alternate;
    -ms-animation: fade 4s 1s infinite linear alternate;
    -o-animation: fade 4s 1s infinite linear alternate;
    animation: color-green 4s 1s infinite linear alternate;
}

p {
    margin: 0;
    padding: 0;
}

.hi {
    font-family: 'Helvetica75';
    margin: 30px auto 0 43px;
    color: #fff;
    font-weight: 900;
    font-size: 1.2rem;
}


.greeting {
    font-family: 'Helvetica75';
    margin: 50px auto 20px auto;
    font-weight: bold;
    color: #000000;
    font-size: 1.7em;
}

/* Navigation bar */

h2 {
    font-family: 'Helvetica75', 'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5
}

a {
    font-family: 'Helvetica75', 'Montserrat-bold', sans-serif;
    ;
    font-weight: bold;
    color: #000000;
    font-size: 1.4rem;
}

#contact {
    font-family: 'Helvetica75', 'Montserrat-bold', sans-serif;

    font-weight: bold;
    color: #000000;
    font-size: 1.4rem;
}


/****Section classes ****/
.navigate {
    float: right;
}

.nav-item::focus {
    color: #e5629f !important;
}

.nav-item,
.active {
    color: #e5629f;

}

.nav-item::after {

    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #1b57fc;
    transition: 0.6s;
}

.nav-item:hover::after {
    width: 100%;
    color: #e5629f;
}


.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .active>.nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .show>.nav-link,
.navbar-nav .nav-link:focus,
.navbar-nav {
    color: #e5629f !important;
}

.nav-link {
    padding: 15px 5px;
    transition: 0.2s;

}

.dropdown-item.active,
.dropdown-item:active {
    color: #212529;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: hotpink;
    ;

}

/* .navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    /* font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; */
/* }

a:hover {
text-decoration: underline;
color:tomato;
width: 10px;
} */
/* FOOTER */

.pop {
    color: white;
    background-color: #e5629f;
    padding: 10px;
    margin: 5px;
    /* background-color:#3b49dd; */
}

.pop-blue {
    color: white;
    background-color: #1b57fc;
    padding: 10px;
    margin: 5px;
}

.fa-linkedin {
    size: 5x;
    margin-bottom: 20px
}



/**** SECTIONS ****/

#features {
    background-color: #fff;
    position: relative;

}

#main-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

#title {
    background-color: #050404;
    color: rgb(255, 255, 255);
    text-align: left;

}

#footer-main {
    background-color: #fff;
    margin-top: 308px;
    text-align: center;
}

/* *** MEDIA QUERY *** */
@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    #main-image {
        position: static;
        transform: rotate(0);

    }
}

@media (max-width: 682px) {

    h1 {
        font-size: 4.9rem !important;
    }


}

@media (max-width: 662px) {

    .greeting {
        font-size: 14px;
        ;
    }

    .pop,
    .pop-blue {
        padding: 7px;
    }

    #contact {
        font-size: 1rem;
    }

    a {
        font-size: 1rem;
    }


}



/* XXXXXXXXX RESUME PAGE XXXXXXXXXXXX */

.res {
    height: 600px;
}

.greeting-resume {
    font-family: 'Helvetica75';
    margin: 50px auto 00px auto;
    font-weight: bold;
    color: #000000;
    font-size: 1.7em;
}

/* CSS for responsive iframe */
/* ========================= */

/* outer wrapper: set max-width & max-height; max-height greater than padding-bottom % will be ineffective and height will = padding-bottom % of max-width */
#Iframe-Master-CC-and-Rs {
    max-width: 512px;
    max-height: 100%;
    overflow: hidden;
}

/* inner wrapper: make responsive */
.responsive-wrapper {
    position: relative;
    height: 0;
    /* gets height from padding-bottom */

    /* put following styles (necessary for overflow and scrolling handling on mobile devices) inline in .responsive-wrapper around iframe because not stable in CSS:
      -webkit-overflow-scrolling: touch; overflow: auto; */

}

.responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    border: none;
}

/* padding-bottom = h/w as % -- sets aspect ratio */
/* YouTube video aspect ratio */
.responsive-wrapper-wxh-572x612 {
    padding-bottom: 107%;
}

/* general styles */
/* ============== */
/* .set-border {
    border: 5px inset #4f4f4f;
  }
  .set-box-shadow { 
    -webkit-box-shadow: 4px 4px 14px #4f4f4f;
    -moz-box-shadow: 4px 4px 14px #4f4f4f;
    box-shadow: 4px 4px 14px #4f4f4f;
  } */
.set-padding {
    padding: 40px;
}

.set-margin {
    margin: 30px;
}

.center-block-horiz {
    margin-left: auto !important;
    margin-right: auto !important;
}