body {
    /* font-family: 'Montserrat', sans-serif; */
Background-color:#050404;
}
h1 {
   
    font-family: 'Helvetica75';
    
    color: #fff;
    font-weight: 900;
    line-height: 1 !important;
    font-size: 5.5rem !important;

}

.greeting {
    font-family: 'Helvetica75';
    margin: 50px auto 20px auto;
    font-weight:bold;
    color:#000000;
    font-size: 1.7em;
}

.container-fluid {
    padding: 0% 3% 4%;
}
/* .separate {
    height: 20px;
} */
.serparator{
    height: 2px;
} 


/* Navigation bar */

body {
    font-family: 'Montserrat', sans-serif;

}

   h2{                
                      
                    
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5
}



                             
  /****Section classes ****/ 
                             
  article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
.container > section {
    margin: 0 auto;
    padding: 10em 3em;
    text-align: center;
}

*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cl-effect-2 a {
    line-height: 44px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}
nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
}
a {
    text-decoration: none;
}
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.container > section {
    margin: 0 auto;
    padding: 10em 3em;
    text-align: center;
}

*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cl-effect-2 a span {
    position: relative;
    display: inline-block;
    padding: 0 14px;
    background: #2195de;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.cl-effect-2 a {
    line-height: 44px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}
nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.container > section {
    margin: 0 auto;
    padding: 10em 3em;
    text-align: center;
}


/* FOOTER */

.pop {
    color: #e5629f;
    /* background-color:#3b49dd; */
}

.pop-blue {
    color: #1b57fc;
}
    /* .pop{
         */
    /* background-color:black; */
    /* -webkit-text-decoration: hotpink double underline;
    text-decoration: hotpink double underline; */
    /* -webkit-text-stroke-width: .5px; */
    /* -webkit-text-stroke-color: red; */
    /* text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       */

.fa-linkedin {
    size:5x;
}



/**** SECTIONS ****/

#features {
    background-color: #fff;
    position: relative;

}

#main-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

#title {
    background-color: #050404;
    color: rgb(255, 255, 255);
    text-align: left;

}





#footer-main {
    background-color: #fff;

    text-align: center;
}

/* *** MEDIA QUERY *** */
@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    #main-image {
        position: static;
        transform: rotate(0);

    }
}
/* *** MEDIA QUERY *** */
@media (max-width: 682px) {

    h1 {
        font-size: 4.9rem !important;
    }

 
}


