body {
    /* font-family: 'Montserrat', sans-serif; */
Background-color:#050404;
}
h1 {
   
    font-family: 'Helvetica75';
    
    color: #fff;
    font-weight: 900;
    line-height: 1 !important;
    font-size: 5.5rem !important;

}

.greeting {
    font-family: 'Helvetica75';
    margin: 50px auto 20px auto;
    font-weight:bold;
    color:#000000;
    font-size: 1.7em;
}

.container-fluid {
    padding: 0% 3% 4%;
}
/* .separate {
    height: 20px;
} */
.serparator{
    height: 2px;
} 


/* Navigation bar */

body {
    font-family: 'Montserrat', sans-serif;

}

   h2{                
                      
                    
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5
}



                             
  /****Section classes ****/ 
  .navigate {
      float:right;
  }
  .nav-item::after{content:'';display:block;width:0px;height:2px;background:#fec400;transition: 0.2s;}
  .nav-item:hover::after{width:100%;}
  .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:h#fff;}
  .nav-link{padding:15px 5px;transition:0.2s;}
  .dropdown-item.active, .dropdown-item:active{color:#212529;}
  .dropdown-item:focus, .dropdown-item:hover{background:hotpink;;}
  /* .navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    /* font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; */
/* }

a:hover {
text-decoration: underline;
color:tomato;
width: 10px;
} */ 
/* FOOTER */

.pop {
    color: white;
    background-color: #e5629f;
    padding: 4px;
    /* background-color:#3b49dd; */
}

.pop-blue {
    color: white;
    background-color: #1b57fc;
    padding: 4px;

}
    /* .pop{
         */
    /* background-color:black; */
    /* -webkit-text-decoration: hotpink double underline;
    text-decoration: hotpink double underline; */
    /* -webkit-text-stroke-width: .5px; */
    /* -webkit-text-stroke-color: red; */
    /* text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       */

.fa-linkedin {
    size:5x;
}



/**** SECTIONS ****/

#features {
    background-color: #fff;
    position: relative;

}

#main-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

#title {
    background-color: #050404;
    color: rgb(255, 255, 255);
    text-align: left;

}





#footer-main {
    background-color: #fff;

    text-align: center;
}

/* *** MEDIA QUERY *** */
@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    #main-image {
        position: static;
        transform: rotate(0);

    }
}
/* *** MEDIA QUERY *** */
@media (max-width: 682px) {

    h1 {
        font-size: 4.9rem !important;
    }

 
}


