body {
    font-family: 'Montserrat', sans-serif;

}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    font-size: 3.5rem;

}

   h2{                
                      
                    
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5
}


.container-fluid {
    padding: 3% 15% 7%;
}

                             
  /****Section classes ****/ 
                             

.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation bar */

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Features */

.feature-h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
}

.feature-item {
    text-align: center;


}

.fa-bullseye,
.fa-heart,
.fa-check-circle {
    font-size: 3rem;
    color: #ef8172;
    padding-bottom: 15px;
}

.feature-item p {
    color: #8f8f8f;
    padding: 0 30px;

}

.fa-bullseye:hover,
.fa-heart:hover,
.fa-check-circle:hover {
    color: #e00000;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;

}


.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* PRICING SECTION */

.card-deck {
    text-align: center;
}

.button-margin {
    margin-top: 57px;
}

.pricing-column {
    padding: 3% 2%;
}


/* CALL TO ACTION */

.cta-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    font-size: 3.5rem;
    margin-top: 34px;
}

/* FOOTER */

.footer-icons {
    color: black;
}

/**** SECTIONS ****/

#features {
    background-color: #fff;
    position: relative;

}

#main-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

#title {
    background-color: #ff4c68;
    color: rgb(255, 255, 255);
    text-align: left;

}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}


#pricing {
    text-align: center;
}

#cta {
    text-align: center;
    background-color: #ff4c68;
}

#footer {
    background-color: #fff;
    text-align: center;
}

/* *** MEDIA QUERY *** */
@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    #main-image {
        position: static;
        transform: rotate(0);

    }
}
/* 
*** MEDIA QUERY *** 
*/
@media (max-width: 480px) {

    #title {
        text-align: center;
    }

    #main-image {
        position: static;
        transform: rotate(0);

    }
}

